.sprite {display: inline-block; vertical-align: middle;}
.sprite {background-image: url(sprites/43176ea4408d5ca5f8a0f07bb2ecbc4f.jpg); background-position: left center; background-repeat: no-repeat;}
.sprite.jaksh_image_1_jpg {background-position: 0 0; width: 200px; height: 200px;}
.sprite.jaksh_image_2_jpg {background-position: 0 -201px; width: 200px; height: 200px;}
.sprite.jaksh_image_3_jpg {background-position: 0 -402px; width: 200px; height: 200px;}
.sprite.jaksh_image_4_jpg {background-position: 0 -603px; width: 200px; height: 200px;}
.sprite.jaksh_image_5_jpg {background-position: 0 -804px; width: 200px; height: 200px;}
.sprite.jaksh_image_6_jpg {background-position: 0 -1005px; width: 200px; height: 200px;}
.sprite.jaksh_image_7_jpg {background-position: 0 -1206px; width: 200px; height: 200px;}
.sprite.jaksh_image_8_jpg {background-position: 0 -1407px; width: 200px; height: 200px;}
.sprite.jaksh_image_9_jpg {background-position: 0 -1608px; width: 200px; height: 200px;}
.sprite.jaksh_image_10_jpg {background-position: 0 -1809px; width: 200px; height: 200px;}
.sprite.jaksh_image_11_jpg {background-position: 0 -2010px; width: 200px; height: 200px;}
.sprite.jaksh_image_13_jpg {background-position: 0 -2211px; width: 200px; height: 200px;}
.sprite.jaksh_image_12_jpg {background-position: 0 -2412px; width: 200px; height: 200px;}
.sprite.jaksh_image_14_jpg {background-position: 0 -2613px; width: 200px; height: 200px;}
.sprite.jaksh_image_15_jpg {background-position: 0 -2814px; width: 200px; height: 200px;}
.sprite.jaksh_image_16_jpg {background-position: 0 -3015px; width: 200px; height: 200px;}
.sprite.jaksh_image_17_jpg {background-position: 0 -3216px; width: 200px; height: 200px;}
.sprite.jaksh_image_18_jpg {background-position: 0 -3417px; width: 200px; height: 200px;}
.sprite.jaksh_image_19_jpg {background-position: 0 -3618px; width: 200px; height: 200px;}
.sprite.jaksh_image_20_jpg {background-position: 0 -3819px; width: 200px; height: 200px;}
.sprite.jaksh_image_21_jpg {background-position: 0 -4020px; width: 200px; height: 200px;}
.sprite.jaksh_image_22_jpg {background-position: 0 -4221px; width: 200px; height: 200px;}
.sprite.jaksh_image_23_jpg {background-position: 0 -4422px; width: 200px; height: 200px;}
.sprite.jaksh_image_24_jpg {background-position: 0 -4623px; width: 200px; height: 200px;}
.sprite.jaksh_image_25_jpg {background-position: 0 -4824px; width: 200px; height: 200px;}
.sprite.jaksh_image_26_jpg {background-position: 0 -5025px; width: 200px; height: 200px;}
.sprite.jaksh_image_27_jpg {background-position: 0 -5226px; width: 200px; height: 200px;}
.sprite.jaksh_image_28_jpg {background-position: 0 -5427px; width: 200px; height: 200px;}
.sprite.jaksh_image_29_jpg {background-position: 0 -5628px; width: 200px; height: 200px;}
.sprite.jaksh_image_30_jpg {background-position: 0 -5829px; width: 200px; height: 200px;}
.sprite.jaksh_image_31_jpg {background-position: 0 -6030px; width: 200px; height: 200px;}
.sprite.jaksh_image_32_jpg {background-position: 0 -6231px; width: 200px; height: 200px;}
.sprite.jaksh_image_33_jpg {background-position: 0 -6432px; width: 200px; height: 200px;}
.sprite.jaksh_image_34_jpg {background-position: 0 -6633px; width: 200px; height: 200px;}
.sprite.jaksh_image_35_jpg {background-position: 0 -6834px; width: 200px; height: 200px;}
.sprite.jaksh_image_36_jpg {background-position: 0 -7035px; width: 200px; height: 200px;}
.sprite.jaksh_image_37_jpg {background-position: 0 -7236px; width: 200px; height: 200px;}
.sprite.jaksh_image_38_jpg {background-position: 0 -7437px; width: 200px; height: 200px;}
.sprite.jaksh_image_39_jpg {background-position: 0 -7638px; width: 200px; height: 200px;}
.sprite.jaksh_image_40_jpg {background-position: 0 -7839px; width: 200px; height: 200px;}
.sprite.jaksh_image_41_jpg {background-position: 0 -8040px; width: 200px; height: 200px;}
.sprite.jaksh_image_42_jpg {background-position: 0 -8241px; width: 200px; height: 200px;}
.sprite.jaksh_image_43_jpg {background-position: 0 -8442px; width: 200px; height: 200px;}
.sprite.jaksh_image_44_jpg {background-position: 0 -8643px; width: 200px; height: 200px;}
.sprite.jaksh_image_45_jpg {background-position: 0 -8844px; width: 200px; height: 200px;}
.sprite.jaksh_image_46_jpg {background-position: 0 -9045px; width: 200px; height: 200px;}
.sprite.jaksh_image_47_jpg {background-position: 0 -9246px; width: 200px; height: 200px;}
.sprite.jaksh_image_48_jpg {background-position: 0 -9447px; width: 200px; height: 200px;}
.sprite.jaksh_image_49_jpg {background-position: 0 -9648px; width: 200px; height: 200px;}
.sprite.jaksh_image_50_jpg {background-position: 0 -9849px; width: 200px; height: 200px;}
