.sprite {display: inline-block; vertical-align: middle;}
.sprite {background-image: url(sprites/06970e1dab36a90da45936a6d81e9c9a.jpg); background-position: left center; background-repeat: no-repeat;}
.sprite.ms_image_3_jpg {background-position: 0 0; width: 200px; height: 200px;}
.sprite.ms_image_5_jpg {background-position: 0 -201px; width: 200px; height: 200px;}
.sprite.ms_image_6_jpg {background-position: 0 -402px; width: 200px; height: 200px;}
.sprite.ms_image_7_jpg {background-position: 0 -603px; width: 200px; height: 200px;}
.sprite.ms_image_9_jpg {background-position: 0 -804px; width: 200px; height: 200px;}
.sprite.ms_image_17_jpg {background-position: 0 -1005px; width: 200px; height: 200px;}
.sprite.ms_image_19_jpg {background-position: 0 -1206px; width: 200px; height: 200px;}
.sprite.ms_image_20_jpg {background-position: 0 -1407px; width: 200px; height: 200px;}
.sprite.ms_image_21_jpg {background-position: 0 -1608px; width: 200px; height: 200px;}
.sprite.ms_image_23_jpg {background-position: 0 -1809px; width: 200px; height: 200px;}
.sprite.ms_image_24_jpg {background-position: 0 -2010px; width: 200px; height: 200px;}
.sprite.ms_image_25_jpg {background-position: 0 -2211px; width: 200px; height: 200px;}
.sprite.ms_image_26_jpg {background-position: 0 -2412px; width: 200px; height: 200px;}
.sprite.ms_image_29_jpg {background-position: 0 -2613px; width: 200px; height: 200px;}
.sprite.ms_image_33_jpg {background-position: 0 -2814px; width: 200px; height: 200px;}
.sprite.ms_image_31_jpg {background-position: 0 -3015px; width: 200px; height: 200px;}
.sprite.ms_image_37_jpg {background-position: 0 -3216px; width: 200px; height: 200px;}
.sprite.ms_image_38_jpg {background-position: 0 -3417px; width: 200px; height: 200px;}
.sprite.ms_image_39_jpg {background-position: 0 -3618px; width: 200px; height: 200px;}
.sprite.ms_image_40_jpg {background-position: 0 -3819px; width: 200px; height: 200px;}
.sprite.ms_image_41_jpg {background-position: 0 -4020px; width: 200px; height: 200px;}
.sprite.ms_image_42_jpg {background-position: 0 -4221px; width: 200px; height: 200px;}
.sprite.ms_image_43_jpg {background-position: 0 -4422px; width: 200px; height: 200px;}
.sprite.ms_image_45_jpg {background-position: 0 -4623px; width: 200px; height: 200px;}
